a, a:visited, a:hover {
  background: #4477aa;
  padding: 2px;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

a:hover {
  background: #efefef;
  color: black; }

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 50%;
  margin: -60px 20px 0 20px; }

h1 {
  font-weight: 200;
  font-size: 32px; }

p {
  color: #50505c;
  font-size: 15px; }

.net {
  color: #2233ff; }

.rails {
  color: #ff2277; }
