%h1
  %span#time_of_day Good morning!
  I'm Brandur &mdash;
%p &mdash; a <span class="net">.NET</span>/<span class="rails">Rails</span> designer and developer working out of Calgary. I <a href="http://mutelight.org" title="Go to Brandur's blog">blog</a> and like to get <span id="mail"><a href="#">mail</a></span>.
%p You should follow me on <a href="http://twitter.com/fyrerise" title="Follow Brandur on Twitter">Twitter</a>.

- content_for(:javascript) do
  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  :javascript
    try {
        var pageTracker = _gat._getTracker("UA-6901854-2");
        pageTracker._trackPageview();
    } catch(err) {}
