- content_for(:title, raw('Brandur Leach &mdash; brandur.org'))
- content_for(:stylesheets) do
  = stylesheet_link_tag 'index'

%h1
  %span#time_of_day Good morning!
  I'm Brandur &mdash;
:markdown
  &mdash; a <span class="net">.NET</span>/<span class="rails">Rails</span> designer and developer working out of Calgary. I [blog](http://mutelight.org "Go to Brandur's blog") and like to get <span id="mail">[mail](#)</span>.

  You should follow me on [Twitter](http://twitter.com/fyrerise "Follow Brandur on Twitter").

